﻿body {
	font-family: tahoma, arial, verdana, sans-serif, Lucida Sans;
	font-size: 12px;
	background-color: #a6a6a6;
	color: #243E99;
	padding: 0px;
	width: 1000px;
	margin: 0px auto;
}

/*зЁбра*/
.z_1{
	margin: 1px;
	background: #e7e7e7 url(element_style/s1.png) repeat-x;
	padding: 10px;
	color: #777;
	border: 1px solid #ccc;
	text-shadow: 0px 1px #fff;
}
.z_2{
	margin-top: 1px;
	margin-bottom: 1px;
	background: #F1F5F8;
	padding: 10px;
	border: 1px solid #ccc;
	color: #366ea1;
}

/*Время в  шапки*/
.time_head{float: right}

/*Ссылки в бб кодах*/ 
.link_bb,.link_bb_2{}

/*Новые темы*/ 
.act_them{
	margin-top: 1px;
	margin-bottom: 1px;
	background: #bdccd5 url(element_style/title.png);
	padding: 10px;
	border: solid 1px #d5d6d6;
	color: #366ea1;
}
/*Новые темы фон*/
.act_them_fon{}

/*Див новостей на главной и титл*/ 
.news,.news_title{
	margin-top: 1px;
	margin-bottom: 1px;
	background: #bdccd5 url(element_style/title.png);
	padding: 10px;
	border: solid 1px #d5d6d6;
	color: #366ea1;
}

/*кнопка скрытия новостей*/ 
.news_knopk {
	background: url(element_style/s1.png) repeat-x;
	padding: 5px;
	color: #777;
	border: 1px solid #ccc;
	border-radius: 5px;
	margin-bottom: -7px;
}


/*Действия в анкете (написать и т.п)*/
.ank_user_d{
	margin: 1px;
	background: #e7e7e7 url(element_style/s1.png) repeat-x;
	padding: 9px;
	color: #777;
	border: 1px solid #ccc;
	text-shadow: 0px 1px #fff;
}

/*Фон статуса в анкете*/
.ank_user_status{
	margin: 1px;
	background: #e7e7e7 url(element_style/s1.png) repeat-x;
	padding: 9px;
	color: #777;
	border: 1px solid #ccc;
	text-shadow: 0px 1px #fff;
}


/*Фон анкеты /ank_* */
.ank_fon,.user_panel{
	margin: 1px;
	background: #e7e7e7 url(element_style/s1.png) repeat-x;
	padding: 9px;
	color: #777;
	border: 1px solid #ccc;
	text-shadow: 0px 1px #fff;
}


.panel_form {
	border: 1px solid #d8d8d8;
	background: #bdccd5 url(img/z.png);
	padding: 7px;
}

.panel_form img {
    margin-bottom: -3px;
}

.menu_s {
	margin-top: 1px;
	margin-bottom: 1px;
	background: #fff url(img/z.png);
	padding: 16px;
	border: solid 1px #d5d6d6;
	color: #366ea1;
}
 
.menu_s img {
    margin-bottom: -3px;
}



.adm_panel img, .p_m img {
    margin-bottom: -4px;
}

.adm_panel {
	background: url(img/s1.png) repeat-x;
	padding: 9px;
	color: #777;
	font-weight: bold;
	border: 1px solid #ccc;
	text-shadow: 0px 1px #fff;
	margin: 1px;
}
 
.adm_panel a:link , .adm_panel a:visited {
	text-shadow: 0px 1px #f5f6f6;
	font-weight: bold;
	color: #576AA4;
}

.adm_panel img:hover {
	opacity: 0.7;
	color: #FF0000!important;
	text-decoration: underline;
}

/*Фон админ меню*/
.adm_panel_fon {

	background: #fff;
	color: #777;
	font-weight: bold;
	border: 1px solid #ccc;
	text-shadow: 0px 1px #fff;
	margin: 1px;
}
 
.adm_panel_razd {
	background: url(img/s1.png) repeat-x;
	padding: 9px;
	color: #777;
	font-weight: bold;
	border: 1px solid #ccc;
	text-shadow: 0px 1px #fff;
	margin: 1px;
}
 
.adm_panel_razd img {
    margin-bottom: -5px;
}
 
.adm_panel_span {
	background: url(img/s1.png) repeat-x;
	padding: 4px;
	color: #777;
	border: 1px solid #ccc;
	border-radius: 5px;
	margin-top: -3px;
}




.au {
	text-align: center;
	width: 1%;
	background: url(img/s1.png) repeat-x;
	padding: 9px;
	color: #777;
	font-weight: bold;
	border: 1px solid #ccc;
	text-shadow: 0px 1px #fff;
}
 
.au:hover {
    opacity: 0.7;
}
 

.au img {
    margin-bottom: -4px;
}
.apps {
	margin-top: 1px;
	margin-bottom: 1px;
	background: #bdccd5 url(img/title.png);
	padding: 10px;
	border: 1px solid #B8B8B8;
	color: #366ea1;
}
 
.license_err {
	text-align: center;
	border-top: 1px #853A24 solid;
	background-color: #BF614D;
	color: #FFE3E3;
	padding: 10px;
}
 
.user_collisions {
	background: #E2CBE1;
	padding: 9px;
	color: #777;
	border: 1px solid #ccc;
	text-shadow: 0px 1px #fff;
}
 
.info_razd {
	background: #fff;
	padding: 9px;
	color: #777;
	border: 1px solid #ccc;
	text-shadow: 0px 1px #fff;
}
 
/*див вокруг личного кабинета*/
.umenu_div {
    
}
 
.nick_img {
    
}
 
/*див вокруг личного кабинета*/
.user_dir {
	border-radius: 5px;
	background: #fff;
	padding: 9px;
	color: #777;
	border: 1px solid #ccc;
	text-shadow: 0px 1px #fff;
	margin-top: 2px;
	margin-bottom: 2px;
}
 
.user_fon {
	background: url(img/s1.png) repeat-x;
	padding: 9px;
	color: #777;
	border: 1px solid #ccc;
}
 
.user_dir img {
    margin-bottom: -4px;
}
 
.user_dir:hover {
    background: url(img/s1.png) repeat-x;
}


.ank_span_m {
	background: url(img/s1.png) repeat-x;
	padding: 5px;
	color: #777;
	border: 1px solid #ccc;
	border-radius: 5px;
	margin-bottom: -7px;
}
 
.ank_span {
	background: url(img/s1.png) repeat-x;
	padding: 7px;
	color: #777;
	border: 1px solid #ccc;
	border-radius: 5px;
}
 
.avar img {
    margin-bottom: -4px;
}

.avar_ank_set:hover {
	box-shadow: 0 0 9px #222;
}


.avar_ank ,.avar_ank_set{
	border: 1px #E2E2E2 solid;
	background: #bdccd5 url(img/z.png);
	overflow: hidden;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	display: inline-block;
	box-shadow: 0 0 5px #D2D9E1;
}
 

.avar {
	width: 32px;
	height: 32px;
	border: 1px #D6E6F2 solid;
	background: #bdccd5 url(img/z.png);

}
 
.avar img {
    box-shadow: 0 0 1px #4f4e4e;
	margin: 1px;

}
 
.inp {
	margin-top: 1px;
	margin-bottom: 1px;
	background: #F3F2F2;
	padding: 6px;
	border: solid 1px #d5d6d6;
	color: #366ea1;
	width: 50%;
	border-radius: 6px;
	-moz-border-radius: 6px;
}


.status_o_s_mail {
	margin-left: 20px;
	margin-bottom: 0;
	border-style: solid;
	border-color: transparent transparent #fff transparent;
	border-width: 0px 0px 10px 10px;
	height: 0px;
	width: 0px;
}
 
.status_o_mail {
	border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	margin: 3px;
	margin-top: 0;
	border: #fff 1px solid;
	padding: 10px;
	color: #808080;
	background: #EEEEEE;
	word-wrap: break-word;
}
 
.menu_new {
	margin-top: 1px;
	margin-bottom: 1px;
	background: #bdccd5 url(img/z.png);
	padding: 6px;
	border: solid 1px #d5d6d6;
	color: #366ea1;
}
 
.ank_div {
	margin-top: 1px;
	margin-bottom: 1px;
	background: #bdccd5 url(img/z.png);
	padding: 6px;
	border: solid 1px #d5d6d6;
	color: #366ea1;
}



 

.show_foto {
	background: #e7e7e7;
	border: solid 1px #fff;
}
 
.div_foto {
	padding: 5px;
	background: #e7e7e7;
	border: solid 1px #d0d2d3;
}
 
 


.Dcont{width: 1000px;margin: 0px auto;}
a { color: #272727; text-decoration: none; }
a:hover { color: #f38d18; text-shadow: 0 -1px 5px #fff; }
.body {
    margin-top:50px;
	height: 100%;
	background: url(images/light_top.png) top no-repeat;
	padding: 30px 1px;
}

#left {
	width: 285px;
	float: left;
	overflow: hidden;
	display: block;
	margin:10px 5px 10px 0;
}
#right {
	width:705px;
	overflow: hidden;
	display: block;
}
.menu_title, .rCont{
	box-shadow: 0 0 0 1px #7c7c7c inset;
	border:1px #575757 solid;
	background: #575757 url(img/menu.title.png) center top repeat-x;
	min-height:28px;
	width:283px;
	margin-top:10px;
	
}
.menu_title_foot {
	vertical-align:top;
	box-shadow: 0 0 0 1px #7c7c7c inset;
	border:1px #575757 solid;
	background: #444444 url(img/menu.title.png) center top repeat-x;
	min-height:28px;
	width:100%;
	margin-top:10px;
	padding:;
	font-size:15px;
	color:#fff;
	text-align: left;
	
}
.rCont{width:705px;margin-top:20px;}
.un{
	padding:8px 0 8px 20px;
	font-size:15px;
	color:#fff;
	text-align: left;
}
.user_menu, .user_menu_foot{
	background: #d2d2d2 url(img/user.menu.png) top repeat-x;
	padding: 10px 0;
	box-shadow: 0 0 0 1px #7c7c7c inset;
	border:1px #575757 solid;
	border-top-style:none;
	width:283px;
}
.user_menu_foot{width:100%;}
.R_user_menu{
	background: #d2d2d2 url(img/user.menu.png) top repeat-x;
	padding: 10px 10px;
	box-shadow: 0 0 0 1px #7c7c7c inset;
	border:1px #575757 solid;
	border-top-style:none;
	width:683px;
	
}
.ext{display:inline; float:right;padding-right:10px;}
.user_menu a{display:block;padding-left:10px;line-height:18px;
}
.ava
{
padding: 0 8px 0 8px;
text-align: center;
width: 32px;
}
.adt{text-align: center;}
.adt a{background:url(img/rekl.png) left center no-repeat;text-decoration:none; color:#000;padding-left:24px;margin:0 20px;}
.adt a:hover{text-decoration:underline; color:#000;padding-left:24px;text-shadow: 0 -1px 5px #f9ad25;margin:0 20px;}
.ava img
{
box-shadow: 0 0 3px #ffffff;
border-radius: 3px;
margin-top: 3px;
}
.head{
	background:#313131 url(img/head.bg.png) center top repeat-x;
	position:fixed;
	top:0;
	left:0;
	height:55px;
	width:100%;
	}

.clear{clear:both;}
.logo {
	background: url(img/logo.png) left center no-repeat;
	height: 29px;	
}
.logo_foot{
	background: url(img/logo.png) right center no-repeat;
	height: 29px;	
}
.logo h1{text-align:right;font-size: 19px;color:#fab427;padding:4px 30px 0 0;}
.logo h1 a:hover{ text-shadow: 0 -0 0; }



.guestbook , .vidget , .hello, .foot {
	overflow: hidden;
	background: #ffffff ;
    padding: 10px;
    border: solid 1px #bbbbbb;
    color:#366ea1;
	margin-bottom: 1px;
}

.guestbook_i {
	background: #eeeeee url(img/z.png) ;
    padding: 10px;
    border: solid 1px #c3c3c3;
    color:#000;
	margin-bottom: 2px;
	margin-top: 2px;
}
.guestbook_i a {
    color:#26282a;
	text-decoration:none;
	border-bottom:1px dashed #777777;
}







.menu_new{
			  margin-top: 1px;
			  margin-bottom: 1px;
			  background: #bdccd5 url(img/z.png) ;
              padding: 6px;
              border: solid 1px #d5d6d6;
              color:#366ea1;
}



.ank_div{
			  margin-top: 1px;
			  margin-bottom: 1px;
			  background: #bdccd5 url(img/z.png) ;
              padding: 6px;
              border: solid 1px #d5d6d6;
              color:#366ea1;
}



.status_o_s	{ 		

	margin-left: 20px;
 	margin-bottom:0;
	border-style:solid;
	border-color:transparent  transparent #fff  transparent ;
	border-width:0px 0px 10px 10px;		height: 0px; 	width:0px;
	} 
	
	.status_o 	{
	
	border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	margin: 3px;
	margin-top: 0;
	border:#fff 1px solid;
	padding: 10px; 	color: #808080;
	background: #fff ;
 	word-wrap:break-word;
	}







.head img {
	vertical-align: top;
}


.main_menu{
	display: block;
	margin: 2px;
	padding: 2px 5px 2px 5px;
	color: #97A6B4;
	border-top: 1px #F7F5FC solid;
	border-bottom: 1px #EDEFF6 solid;
	border-right: 1px #EDEFF6 solid;
	font-weight: bold;
	text-shadow: 1px 1px 2px #ffffff;
	border-radius: 0px 5px 5px 0px;
	-moz-border-radius: 0px 5px 5px 0px;
}

.main_menu:hover{
	color: #336;
	background-color: #E0E6FF;
	font-weight: bold;
	border-top: 1px #F7F5FC solid;
	border-bottom: 1px #B8CAD8 solid;
	border-right: 1px #B8CAD8 solid;
	text-decoration: none;
}

.avablock {
	border: 1px solid #d8d8d8;
	background: #bdccd5 url(img/z.png);
	padding: 7px;
	margin: 13px;
}
.menu_left_sep {
	margin: 1px;
	color: #111111;
	//text-align: right;
	font-size: 14px;
	padding:5px ;
	
}

a.menu_left {
	display: block;
	margin: 2px;
	padding: 2px 5px 2px 5px;
	color: #97A6B4;
	border-top: 1px #F7F5FC solid;
	border-bottom: 1px #EDEFF6 solid;
	border-right: 1px #EDEFF6 solid;
		font-weight: bold;
		text-shadow: 1px 1px 2px #ffffff;
		border-radius: 0px 5px 5px 0px;
	-moz-border-radius: 0px 5px 5px 0px;
	}




.left_link {
	border-bottom: 1px solid #1c1c1c;
	border-top: 1px solid #515151;
	margin: 0 10px;
	padding: 10px 0;
}
.left_link a {
	color: #fff;
	background: url(images/st.png) left no-repeat;
	padding-left: 8px;
}
.ind_cont {
	padding: 4px;
	background-color: #E0E6FF;
	border: 1px solid 	#1E90FF;
	border-radius: 0 0 6px 6px;
	-moz-border-radius: 0 0 6px 6px;
	margin: 7px;
}


.menu{
	font-size: 16px;
	display: block;
	max-width: 100%;
	min-height: 40px;
	margin: 5px;
	padding: 5px;
	background-color: #FCFCFC;
	border: 1px #E0E6FF solid;
	border-radius: 3px;
	-moz-border-radius: 3px;
}


.bb, .bb1 {
	border-top: 1px solid #515151;
	margin: 0 10px;
	padding-bottom: 1px;
}
.bb2 {
	padding-bottom: 1px;
	border-bottom: 1px solid #1c1c1c;
	margin: 0 10px;
}
.bb1 {
	margin: 0 10px 2px 10px;
}

.foot_back {
	background: url(images/foot_back.png) bottom repeat-x;
	position: fixed;
	bottom: 0;
	max-height: 55px;
	width: 100%;
}
.foot_right {
	background: url(images/foot_right.png) top right no-repeat;
	height: 55px;
	padding: 5px 200px 0 0;
}
.foot_copy {
	width: 61px;
	height: 50px;
	float: left;
}
.ind_last {
	border-bottom: 1px dotted #a6a6a6;
	padding: 2px 0;
}
.last_info {
	font-size: 11px;
}
img{
    border: 0px;
    margin: 0px;
    padding: 0px;
}


.form {
background-color: #fcfcfc;
/* форма для ввода данных */
	margin: 5px;
	padding: 5px;
	border: 1px #F2F2F7 solid;
	border-radius: 3px;
	-moz-border-radius: 3px;
}
table {
	width: 100%;
}
textarea{
    font-size: 13px;
    font-weight: normal;
    width: 100%;
	min-height:60px;
    height: auto;
    margin: 5px 0;
	border: 1px solid #ddd;
	border-radius: 6px;
	-moz-border-radius: 6px;
}

input, select{
    font-family: tahoma, verdana, arial, sans-serif, Lucida Sans;
    font-size: 12px;
    border: 1px #575757 dashed;
    background-color: #fff;
    margin: 5px;
    color: #555;
	height:22px;
	padding-left:5px;
	padding-right:10px;
}


.ankd {
    border-bottom: 1px solid #393939;
    margin: 1px 4px;
    padding: 3px;
}
.user_nick {
	text-shadow: -0 0 2px #000;
	background: url(images/user_nick.png) bottom no-repeat #2fa3e6;
	color: #fff;
	font-weight: bold;
	border: 1px solid #1eadff;
	padding: 6px 4px;
	border-radius: 0 8px 0 0;
	-moz-border-radius: 0 8px 0 0;
}
#inf{
    margin: 0 0 0 10px;
}


.page_gen {
/* генерация страницы */
color: #C1C5C7;
text-align: right;
}




.str{

    font-family: Calibri;
    margin: 5px;
    padding:5px;
    text-align: center;
	font-size: normal;
	background-color: #F2F5F1;
	margin: 10px 0;
	padding: 2px 3px 2px 3px;
	border: 1px #CCCCE5 dashed;
}
.str a{
    font-weight: bold;
    color: #f38425;
    font-size: normal;
}

.str a:hover{
    font-weight: bold;
    color: #000;
    font-size: normal;
	text-decoration:none;
}

.rekl {
	text-align: center;
}





.icon14 {
	background: #bdccd5 url(img/z.png);
	border: solid 1px #d5d6d6;
	width: 24px;
	height: 24px;
	padding: 6px;
	text-align: center;
}
 
.icon48 {
	background: #bdccd5 url(img/z.png);
	border: solid 1px #d5d6d6;
	width: 50px;
	height: 50px;
	padding: 6px;
	text-align: center;
}
.menu_razd{
	font-size:15px;
	background:#FCFCFC;
	text-align:left;
	padding:10px 35px;
	font-weight:bold;
	}

.p_t {
	margin-top: 1px;
	margin-bottom: 1px;
	background: #FFFFFF url(img/z.png);
	padding: 6px;
	border: solid 1px #d5d6d6;
	color: #366ea1;
}

.p_m,.news,.news_title {
	margin: 1px;
	background: #e7e7e7 url(img/s1.png) repeat-x;
	padding: 9px;
	color: #777;
	border: 1px solid #ccc;
	text-shadow: 0px 1px #fff;
}

.p_m input, .p_m input[type="submit"] {
    background: white;
}

.p_m a:link , .p_m a:visited {
	text-shadow: 0px 1px #f5f6f6;
	font-weight: bold;
	color: #576AA4;
}

.cit {
	font-size: xx-small;
	background-color: #EFF1FF;
	margin: 1px;
	border: 1px #9999FF solid;
	border-left: 4px #9999FF solid;
	padding: 1px;
}

.ank_n {
    font-weight: bold;
}
.ank_d {
    font-style: italic;
}

.status{
    color: #524383;
    font-weight: bold;
}
.msg{
	padding: 5px;
	background-color: #4dbf9a;
	color: #fff;
	font-weight: bold;
	text-align: center;
}

.err{
	border-radius: 3px;
	-moz-border-radius: 3px;
	padding: 5px;
	background-color: #e18989;
	color: #fff;
	font-weight: bold;
	text-align: center;
}

.on {text-shadow: 0 -0 4px #4dbf9a; } 
.off {text-shadow: 0 -0 4px #FFF;} 




.btn {
  display: inline-block;
  *display: inline;
  padding: 4px 12px;
  margin-bottom: 0;
  *margin-left: .3em;
  font-size: 14px;
  line-height: 20px;
  color: #333333;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  vertical-align: middle;
  cursor: pointer;
  background-color: #f5f5f5;
  *background-color: #e6e6e6;
  background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
  background-repeat: repeat-x;
  border: 1px solid #cccccc;
  *border: 0;
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-bottom-color: #b3b3b3;
  -webkit-border-radius: 2px;
     -moz-border-radius: 2px;
          border-radius: 2px;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  *zoom: 1;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.btn:hover,
.btn:focus,
.btn:active,
.btn.active,
.btn.disabled,
.btn[disabled] {
  color: #333333;
  background-color: #e6e6e6;
  *background-color: #d9d9d9;
}

.btn:active,
.btn.active {
  background-color: #cccccc \9;
}

.btn:first-child {
  *margin-left: 0;
    color: #fff;
	text-decoration: none;

}

.btn:hover,
.btn:focus {
  color: #333333;
  text-decoration: none;
  background-position: 0 -15px;
  -webkit-transition: background-position 0.1s linear;
     -moz-transition: background-position 0.1s linear;
       -o-transition: background-position 0.1s linear;
          transition: background-position 0.1s linear;
}



.btn.active,
.btn:active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.btn.disabled,
.btn[disabled] {
  cursor: default;
  background-image: none;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
}



.btn-info {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #49afcd;
  *background-color: #2f96b4;
  background-image: -moz-linear-gradient(top, #5bc0de, #2f96b4);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5bc0de), to(#2f96b4));
  background-image: -webkit-linear-gradient(top, #5bc0de, #2f96b4);
  background-image: -o-linear-gradient(top, #5bc0de, #2f96b4);
  background-image: linear-gradient(to bottom, #5bc0de, #2f96b4);
  background-repeat: repeat-x;
  border-color: #2f96b4 #2f96b4 #1f6377;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5bc0de', endColorstr='#ff2f96b4', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.btn-info:hover,
.btn-info:focus,
.btn-info:active,
.btn-info.active,
.btn-info.disabled,
.btn-info[disabled] {
  color: #ffffff;
  background-color: #2f96b4;
  *background-color: #2a85a0;
}

.btn-info:active,
.btn-info.active {
  background-color: #24748c \9;
}
